<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API UI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>API Results</h1>
        <button id="fetchDataBtn">Fetch Table of Contents</button>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Channel</th>
                    <th>Handle</th>
                    <th>Location</th>
                    <th>Emotion</th>
                    <th>Situations</th>
                    <th>Virality</th>
                    <th>Views</th>
                    <th>Reacts</th>
                    <th>Person/Location Detected</th>
                    <th>Datetime</th>
                    <th>Threat</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
